@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    background-color: #1C2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    transition: .5s;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: #566573;
}
nav ul li a.active{
    background-color: #566573;
}
#click{
    display: none;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* Responsive Work Start */

@media only screen and (max-width: 940px){
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #17202A;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition: .5s;
    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: red;
    }
    .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
}
/* Header Section Stard */
header{
    background-image: url('./img/backgraund.avif');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* First section of main code */
#first-section{
    background-color: #16213e;
}
.services-title{
    color: white;
    text-align: center;
    font-size: large;
    padding: 40px 0;
    letter-spacing: .2em;

}
.service-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    margin: 0 auto;
    grid-gap: 25px;
    padding-bottom: 100px;
}
.single-service{
    background-color: white;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 4px;
    border: 3px solid green;
}
.single-service i{
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0;
    font-weight: bold;
}
/* Second section of main code */
#second-section{
    background-color: #1b4f72;
    padding: 50px 0 100px 0;
}
#second-section>h2{
    color: rgba(217, 228, 21, 0.989);
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.smart-parent{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
.smat-img{
    max-width: 100%;
  }
.smat-img img{
    width: auto;
    height: 250px; 
}
.smart-text{
    color: white;
}
.smart-text h2{
    padding: 20px 0;
}
.smart-text a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 10px 20px;
    background-color: bisque;
    border-radius: 5px;
    margin-top: 40px;
    display: inline-block;
}
/* Third section of main code */
#third-section{
    background-image: url(.//img//backgraund-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}
.about-perent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 40px;
    color: white;
}
.about-info h2{
    font-style: 20px;
    padding-bottom: 20px;
}
.about-info p{}
.about-info ul{
    margin: 20px 0;
}
.about-info ul li{}
.about-info a{
    text-decoration: none;
    font-size: 18px;
    background-color: yellow;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    color: black;
    font-weight: 500;
}

.about-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.about-items{
    background-color: #eaeaea;
    color: black;
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid green;
}
.about-items h3{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.about-items p{
    padding-top: 10px;
    color: black;
}

/* Fourth section of main code */
#fourth-section{
    background-color: #154360;
    padding: 100px 0;
    color: white;
}
.perent-advice{
    display: flex;
    gap: 50px;
    margin: 0 200px;
    align-items: center;
}
.son-advice{}
.son-advice h4{
    font-size: 25px;
}
.son-advice h3{
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 22px;
}
.son-advice p{
    margin: 20px 0;
    line-height: 1.6;
    text-align: justify;
    color: white;
}
.son-advice img{
    max-width: 100%;
    padding-bottom: 22px;
}
.son-advice a{
    text-decoration: none;
    background-color: white;
    padding: 8px 25px;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    transition: .3s;
    border: 1px solid green;
}
.son-advice a:hover{
    background-color: wheat;
}
.advice-icon{
    text-align: center;
}
.advice-icon a{
    margin: 0 5px;
}
/* Contact section code Stard */
#contact-section{
    background-image: linear-gradient(#3958a25e, #14324d), url(//img/gradient2.jpg);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
form {
    background-color: #2e357a;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border: 6px solid #4497d3;
    border-radius: 10px;
}
form h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;
  }
form p {
    text-align: center;
    color: white;
    padding: 30px 0;
    font-weight: bold;
    letter-spacing: .1em;
  }

.c-input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 40px 0;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 3px solid #4497d3;
    font-size: 18px;
  }
.c-input::placeholder{
    color: #87b3d2;
    font-size: 18px;
    font-weight: bold;
  }
.s-btn{
    display: block;
    text-align: center;
}
.s-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 20px;
    background: none;
    color: white;
    outline: ridge;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}  
.s-btn:hover{
    background-color: #16213e;
}

/* Six & match section code start */
#sixth-section{
    padding: 100px 0;
    background-color: #07254f;
}
.match-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 0 200px;
    color: white;
}
.s-match{
    border: 4px solid #26528f;
    padding: 20px;
}
.s-match i{
    font-size: 40px;
    padding: 0 20px 10px 20px;
}
.s-match h5{
    margin-bottom: 10px;
    font-size: 18px;
}
.s-match p{
    font-size: 14px;
}
.s-match:nth-child(2){
    border: 4px solid white;
}
.differnt-match{
    line-height: 1.5;
    letter-spacing: 0.1em;
}

/* Seven & match section code start */
#seven-section{
    padding: 100px 0;
}
.takecare-parent{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
    gap: 30px;
}
.img-care{
    /* width: 100%; */
}
.img-care img{
    max-width: 100%;
}

.takecare-part h3{
    font-size: 20px;
    font-size: bold;
}
.takecare-part p {
    padding: 20px 0;
    font-size: 20px;
}
.takecare-part ul{
    list-style-position: inside;
}
.takecare-part ul li{
    padding: 5px 0;
    font-size: 18px;
}


/* Footer code Start */
footer{
    background-color: #154360;
    padding: 100px 0 50px 0;
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    color: white;
    gap: 80px;
}
.footer-part{
    width: 100%;
}
.footer-part h5{
    margin-bottom: 25px;
    letter-spacing: 3px;
    font-size: 16px;
}
.footer-part h5 span{
    color: yellow;
}
.footer-part>a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 7px;
    font-size: 20px;
}
.footer-part ul{
 display: flex;
} 
.footer-part ul li{
    list-style-type: none;
}
.footer-part>ul li>a{
    text-decoration: none;
    font-size: 20px ;
    margin: 5px;
    background-color: #0a273863;
    padding: 8px;
}
.footer-part>ul li>a i{
    color: white;
}
.footer-parent{}






/* First Section Of main tag media cuery code start */
@media only screen and (max-width: 688px){
    .service-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 100%;
    }
    .smart-parent{
        display: block;
        margin: 0 50px;
    }
    .smat-img img{
        width: 100%;
        margin-bottom: 30px;
    }
    .about-perent{
        display: block;
        align-items: center;
        margin: 0 20px;
        color: white;
    }
    .about-info{
        padding-bottom: 50px;
    }
    .about-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .perent-advice{
        display: block;
        margin: 0 30px;
        align-items: center;
    }
    .son-advice h3{
        padding-top: 30px;
    }
    .advice-icon{
        text-align: left;
    }

    form {
        background-color: #2e357a;
        max-width: 85%;
        padding: 20px 30px;
    }
    .match-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
        margin: 0 30px;
    }
    .differnt-match{
        text-align: center;
    }

    .takecare-parent{
        display: block;
        justify-content: space-between;
        margin: 0 30px;
        align-items: center;
        gap: 30px;
    }
    .takecare-part{
        text-align: center;
    }
    .takecare-part ul li{
        padding: 5px 0;
        font-size: 15px;
        font-weight: bold;
    }
    .footer-parent{
        display: block;
        margin: 0 30px;
    }
    .footer-part{
        margin-bottom: 70px;
        text-align: center;
    }
    .footer-part ul{
        display: flex;
        justify-content: center;
    }
}



@media only screen and (min-width: 689px) and (max-width: 1099px){
    .service-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        width: 100%;
    }
    .smart-parent{
        display: block;
        margin: 0 80px;
    }
    .smat-img img{
        width: 100%;
        margin-bottom: 50px;
    }
    .about-perent{
        display: block;
        align-items: center;
        margin: 0 40px;
        color: white;
    }
    .about-info{
        padding-bottom: 50px;
    }
    .about-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;
    }
    .perent-advice{
        display: flex;
        margin: 0 70px;
        align-items: center;
    }
    .advice-icon a{
        margin: 10px;
    }
    form {
        background-color: #2e357a;
        max-width: 75%;
        padding: 40px 45px;
    }
    .match-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
        margin: 0 70px;
    }


    .takecare-parent{
        display: block;
        justify-content: space-between;
        margin: 0 70px;
    }
    .takecare-part{
        text-align: center;
    }
    .takecare-part ul li{
        padding: 5px 0;
        font-size: 15px;
        font-weight: bold;
    }

    .footer-parent{
        margin: 0 60px;
    }
}